* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100%;
  margin: 0 auto;
  padding: minmax(10px, 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  display: grid;
  width: min(100%, 75rem);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.posts__post {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 6px;
}

.posts__post img {
  width: 100%;
  height: auto;
}

.posts__post h2 {
  padding: 0.5rem 0;
}

.posts__post p {
  max-width: 60ch;
}
